button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1128px;
    padding: 0 15px;

    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: transform .3s;
}

.gallery-item:hover,
.gallery-item:focus {
    transform: scale(1.05);
}